/* Ensure certain elements are never larger than the slide itself */
.reveal {
    em, strong {
        color: #dfc12a;
    }

    section {
        h1, h2, h3, h4 {
            font-variant: small-caps;
        }
        
        img, video, iframe {
            border: none;
            max-width: 95%;
            max-height: 95%;
        }
    }

    table {
        margin: 0;
    }

    /* Ensure text is aligned to the left */
    .slides {
        text-align: left;
    }
}
