/* Ensure certain elements are never larger than the slide itself */
.reveal {
    em, strong {
        color: #dfc12a;
    }

    section {
        img, video, iframe {
            border: none;
            max-width: 95%;
            max-height: 95%;
        }
    }

    /* Ensure text is aligned to the left */
    .slides {
        text-align: left;
    }
}
