@import "./colors.scss";

.reveal .footer {
    background-image: linear-gradient(to right, $secondaryLight, $secondaryDark);
    background-position: center top;
    bottom: 0px;
    font-size: 0.75em;
    height: 30px;
    padding: 10px;
    padding-left: 20px;
    position: absolute;
    width: 100%;
    z-index: 10;

    .conference {
        float: left;
        height: 28px;
        margin-top: -2px;
    }
    
    .speaker {
        background-image: url('./img/twitter.png');
        background-position: 0 -11px; 
        background-repeat: no-repeat;
        background-size: 45px;
        float: right;
        margin-right: 35px;
        padding-left: 50px;
    }
}